body {height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

#title {
    height: 8dvh;
    color: white;
    background-color: #0047B6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title h2 {
    text-shadow: 2px 2px black;
    font-size: x-large;

}

#mainDiv {
    background-color: #0047B6;
    height: 80dvh;
}

#bottomDiv {
    background-color: #FDD44F;
    height: 10dvh;
    font-size: x-large;
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    width: 100%; height: 80dvh;
}



